.approve-btn, .delete-btn {
    background-color: #4D6CE1;
    color: white;
    min-width: 60px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #4D6CE1;
}