.header {
    display: flex;
    align-items: center;
    background: #cacefd;
}
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container_logo {
    display: block;
    color: #3D4F9F;
    padding: 0 6px;
    border-left: 1px solid #3498db;
    line-height: 1.15;
    font-size: 13px;
    font-family: open sans;
    font-style: italic;
    text-decoration: none;
    margin-right: auto;
    margin-left: 10px;
}
.header-container_info ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.header-container_info ul li {
    cursor: pointer;
}
.header-container h1 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.329);
}
.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
}
.link {
    font-size: 13px;
    text-decoration: none;
    align-items: center;
    color: #5d5b5b;
    margin: 0 20px;
}
.link.active {
   color:  #3D4F9F;
}
.btn {
    background-color: #E8ECF4;
    color: #3D4F9F;
    min-width: 60px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #3D4F9F;
}

