.footer-container {
    background:  #cacefd;
    color: #3D4F9F;
    display: flex;
    align-items: center;
}

.footer-container_info {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: 0 50px;
    font-size: 14px;
    font-style: italic;
}